// Core
@import 'core/variables';
@import 'core/functions';

// Components
@import 'components/hero';
@import 'components/contactform';


//Layout
@import 'layout/team';
@import 'layout/header';
@import 'layout/main-contact';

// Layout
@import 'layout/footer';

@import 'layout/adalabers';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* HEADER */
/*
.teambox {
    display: flex;
    height: 60px;    
    background-color: #099D8D;
    justify-content: center;
    align-items: center;
    opacity:0.95;
}
.teamname {
    font-family: 'Rubik', sans-serif;
    font-weight: 500; 
    font-size: 16px;  
    color:white;
    display:flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;    
}   
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1;
    height: 105px;
}   
.menu {
    list-style: none;
    text-transform: uppercase; 
    font-family: 'Rubik', sans-serif;
    color:white;
    font-size: 15px;
    display: flex;
    height: 45px;
    background-color: #14d9c4;
    font-weight: 500;
    justify-content: space-around;
    align-items: center;
    opacity:0.95;
}
.menulink {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
/* HEADER FOR TABLET
@media all and (min-width:767px)  {
    .header  {
        z-index: 1;
        height: 60px;
        background-color: #099D8D;
    }           
    .headerflex {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }     
    .menu {
        background-color: #099D8D;
    }
    .menulink {
        margin-right: 20px;
    }
}
/* HEADER FOR DESKTOP 
@media all and (min-width:1200px)  {
    .headerflex {
        justify-content: space-between;
    }
    .teambox {
        margin-left: 140px;
    }
    .menu {
        justify-content: space-around;
        margin-right: 140px;
    }
}
*/

/* MAIN */

// p {
//     text-align: center;
//     color: #54585a;
//     line-height: 1.5;
// }






// /* MAIN FOR TABLET */
// @media all and (min-width:767px) {
//     .team {
//         padding-top: 15px;
//     }
//     .wrapper-section {
//         width: 90%;
//         max-width: 678px;
//         margin: auto;
//     }
    
//     .strengths-weaknesses {
//         display: flex;
//         justify-content: space-between;
//         max-width: 678px;
//         margin: auto;
//     }
//     .strengths, .weaknesses {
//         max-width: 45%;
//     }

    
// }


// /* MAIN FOR DESKTOP */
// @media all and (min-width:1200px) {
//     .wrapper-section {
//         max-width: 601px;
//     }
//     .strengths-weaknesses {
//         max-width: 1100px;
//     }
//     .strengths, .weaknesses {
//         max-width: 45%;
//     }
// }

    


/* FOOTER 
.footer {
    height: 250px;
    border-top: 1px solid #b8b8b9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.copyright {
    display:flex;
    font-size: 14px;
    color: #b8b8b9;
}

.menufooter {
    list-style: none;
    text-transform: uppercase; 
    text-align: center;
    color: #54585a;
    font-weight: 600;
}

.footerlink {
    color: #54585a;
    opacity: 0.65;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.logobox {
    width:116px;
}

.adalablogo {
    width: 100%;
}
*/

/* FOOTER*/
@import "layout/footer";


