<footer class="footer">
        <div class="copyrightbox">
            <p class="copyright"> ROCK & CODE &copy; 2019</p>
        </div>  
        <ul class="menufooter">
            <li><a href="#team" class="footerlink">Team</a></li>
            <li><a href="#aboutus" class="footerlink">About Us</a></li>
            <li><a href="#contact" class="footerlink">Contact</a></li>
        </ul>
        <div class="logobox">
            <a href="https://adalab.es" target="_blank"><img src="assets/images/logo-adalab.png" alt="logo-adalab" class="adalablogo"></a>
        </div>
 </footer>