<footer class="footer">
    <div class="container">
        <div class="copyright__container">
            <p class="copyright">ROCK & CODE © 2019</p>
        </div>

        <div class="menu__footer">
            <ul class="list__container">
                <li>
                    <a href="#team" class="list__item">Equipo</a>
                </li>
                <li>
                    <a href="#aboutus" class="list__item">Quiénes somos</a>
                </li>
                <li>
                    <a href="#" class="list__item">Contácto</a>
                </li>
            </ul>
        </div>

        <div class="image__container">
            <a href="https://adalab.es" target="_blank" class="image__link">
                <img src="assets/images/logo-adalab.png" alt="logo-adalab" class="image">
            </a>
        </div>
</footer>
