<footer class="footer">
    <div class="grid">
        <!-- GRID ITEM 1 -->
        <div class="grid__item grid__item--copy">
            <p class="copyright">ROCK & CODE © 2019</p>
        </div>

        <!-- GRID ITEM 2 -->
        <div class="grid__item grid__item--nav">
            <ul class="list__container">
                <li class="list__item">
                    <a href="index.html#team" class="link">Team</a>
                </li>
                <li class="list__item">
                    <a href="index.html#aboutus" class="link">About us</a>
                </li>
                <li class="list__item">
                    <a href="contact.html" class="link">Contact</a>
                </li>
            </ul>
        </div>

        <!-- GRID ITEM 3 -->
        <div class="grid__item grid__item--logo">
            <a href="https://adalab.es/" target="_blank" class="image__link">
                <img src="assets/images/logo-adalab.png" alt="logo-adalab" class="image">
            </a>
        </div>
    </div>
</footer>
