<div class="wrapper">
<form class="form" action="https://formspree.io/clara.miralles.imperial@gmail.com" method="POST">

    <div class="form__item">

        <label class="form__label" for="completeName">Complete name <span class="form__label--asterisk">*</span>

            <input class="form__input" id="completeName" name="completeName" type="text" placeholder="Name..." required>

        </label>

    </div>

    <div class="form__item form__item--email">

        <label class="form__label" for="email">Email <span class="form__label--asterisk">*</span>
            
            <input class="form__input form__input--email" id="email" name="email" type="email" placeholder="name.lastname@mail.com" required>
        </label>
    </div>

    <div class="form__item form__item--telephone">
        <label class="form__label" for="telephone">Telephone
            <input class="form__input form__input--telephone" id="telephone" name="telephone" type="tel" placeholder="Ej. 690000000">
        </label>
    </div>

    <div class="form__item">
        <label class="form__label" for="message">Message <span class="form__label--asterisk">*</span>
            <textarea class="form__input form__text" id="message" name="message" cols="30" rows="10" placeholder="What do you need?"></textarea>
        </label>
    </div>

<div class="button__container">

    <input class="button" type="submit" value="Submit">

</div>

</form>
</div>