<header class="page__header" class="header">
    <div class="headerflex">
        <div class=teambox>
            <h1 class="teamname"><a href="index.html" class="menulink">ROCK & CODE</a></h1>
        </div>

        <nav>
            <ul class="menu">
                <li class="menuoption"><a href="#team" class="menulink">Team</a></li>
                <li class="menuoption"><a href="#aboutus" class="menulink">About Us</a></li>
                <li class="menuoption"><a href="#contact" class="menulink">Contact</a></li>
            </ul>
        </nav>
    </div>    
</header>
