<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik:400,500|Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <!-- HEADER -->
    <partial src="_header.html" label="Header"></partial>
    <!-- MAIN -->
    <main>
        <div class="claim-hero">
            <h2 class="claim">"If you can dream it, you can code it."</h2>
        </div>
        <partial src="_team.html"></partial>
        <section id="team" class="team">
            <h2 class="title team-color">Team</h2>
            <div class="wrapper-section about-us">
                <p>Hey there, welcome to Rock & Code! Let us introduce ourselves!</p>
                <p>We are five women who decided to give a step forward into web development. We are Adalabers.</p>
                <p>We are trained in a 4-months highly intensive course to become junior front-end developers. All thanks to Adalab, a Spanish NGO which is doing a terrific job into making women in tech a reality.</p>
                <p>No doubt, the course is highly demanding. However, we are already so much into it!</p>
            </div>
            <div class="triangle"></div>
            <aside >
                <div class="strengths-weaknesses">
                    <div class="wrapper-section strengths">
                        <h3 class="subtitle">Strengths</h3>
                        <p>Reinventing ourselves? Yes. We are all coming from varied backgrounds, from design to law, passing through cultural management, marketing and engineering.</p>
                        <p>What a mess? Well, this is actually gorgeous. We do enrich the team with our different approaches. Supporting each other as a group is our main goal, to grow not only individually but also as a team.</p>
                    </div>

                    <div class="wrapper-section weaknesses">
                        <h3 class="subtitle">Weaknesses</h3>
                        <p>Let's face it: we are intensively learning a lot of new concepts in a short period of time. Have you ever heard about <em> "Alzheimer's Law of Programming"? </em> Looking at code you wrote more than two weeks ago is like looking at code you are seeing for the first time. This reflects pretty well what is happening to us.</p>
                        <p>How do we balance it? Tons of motivation and a bit of sense of humour. Plus, yeah, around 10 hours per day of coding, but when something works it is definitely worthy :)</p>
                    </div>
                </div>
            </aside>
        </section>

        <partial src="_adalabers.html"></partial>

    </main>

    <footer class="footer">
        <div class="copyrightbox">
            <p class="copyright"> ROCK & CODE &copy; 2019</p>
        </div>  
        <ul class="menufooter">
            <li><a href="#team" class="footerlink">Team</a></li>
            <li><a href="#aboutus" class="footerlink">About Us</a></li>
            <li><a href="#contact" class="footerlink">Contact</a></li>
        </ul>
        <div class="logobox">
            <a href="https://adalab.es" target="_blank"><img src="images/logo-adalab.png" alt="logo-adalab" class="adalablogo"></a>
        </div>
    </footer>

</body>

</html>