.wrapper {
    display: flex;
    justify-content: center;
}
.form {
    background-color: grey;
    background-color: white;
    padding: 15px;
}
.form__item {
    padding-bottom: 10px;
}
.form__label {
    font-family: $fontFamily;
    font-size: 14px;
    color: #54585a;
}
.form__label--asterisk {
    color:  #14d9c4;
}
.form__input {
    display: block;
    font-family: $fontFamily;
    font-size: 14px;
    color:  $greyCloud;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 290px;
    height: 45px;
    background-color: white;
    border: 1px solid $greyCloud;
    padding: 15px;
    &.form__text {
        height: 90px;
    }
    @media all and (min-width:768px) {
        width: 442px;
    }
    @media all and (min-width:1200px) {
        width: 601px;
    }
}
.form__input--email {
    @media all and (min-width:1200px){
        width: 395px;
}
}
.form__input--telephone {
    @media all and (min-width:1200px){
        width: 162px;
}
}
.form__item--telephone {
    @media all and (min-width:1200px){
        display: inline-block;
        margin-left: 39px;
}
}
.form__item--email {
    @media all and (min-width:1200px){
        display: inline-block;
}
}
.button__container{
    display: flex;
    justify-content: flex-end;
}
.button {
    width: 290px;
    height: 45px;
    border-radius: 4px;
    background-color: $greenButterfly;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 0px 60px 0px;
    @media all and (min-width:768px)
    {
        width: 206px;
    }
    @media all and (min-width:1200px)
    {
        width: 278px;
    }
}



