.wrapper {
    display: flex;
    justify-content: center;
    
}
.form {
    background-color: grey;
    background-color: white;
    padding: 15px;
}

.form__item {
    padding-bottom: 10px;
}

.form__label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #54585a;
}

.form__label--asterisk {
    color:  #14d9c4;
}

.form__input {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:  #b8b8b9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 290px;
    height: 45px;
    background-color: white;
    border: 1px solid #b8b8b9;
    padding: 15px;
  
   
    &.form__text {
        height: 90px;
    }
    @media all and (min-width:768px)
    {
        width: 442px;
    }
}
.button__container{
    display: flex;
    justify-content: flex-end;
}
.button {
    width: 290px;
    height: 45px;
    border-radius: 4px;
    background-color: #099d8d;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 0px 60px 0px;
    @media all and (min-width:768px)
    {
        width: 206px;
    }
    @media all and (min-width:768px)
    {
        width: 278px;
    }
}



