.form {
    background-color: grey;
    width: 320px;
    height: 810px;
    background-color: white;
    padding: 15px;
}

.form__item {
    background-color: red;
    padding-bottom: 10px;
}

.form__label {
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #54585a;
}

.form__label--asterisk {
    color:  #14d9c4;
}

.form__input {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:  #b8b8b9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 290px;
    height: 45px;
    background-color: white;
    border: 1px solid #b8b8b9;
  
   
    &.form__text {
        height: 90px;
    }

    .button {
        width: 290px;
        height: 45px;
        border-radius: 4px;
        background-color: #099d8d;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
        
           
          }
}

