.claim-hero {
    width: $completeWidth;
    height: 421px;
    background-image: url($pathImages + 'team-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &.img-contact {
        background-image: url($pathImages + 'contact.jpg');
        height: 300px;
        @media all and (min-width:1200px) {
            height: 400px;
        }    
    } 
    @media (min-width:320px) and (orientation: landscape) {
        height: 210px;
    }
    @media all and (min-width:768px){
        height: 421px;
        background-image: url($pathImages + 'team2.png');
    }
    @media all and (min-width:1200px) {
        height: 550px;
    }
    .claim {
        min-width: 85%;
        background-color: white;
        font-size: rem(18px);
        color: black;
        line-height: 1.39;
        font-weight: 600;
        padding: rem(14px) rem(15px) rem(16px);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        animation-name: intro;
        animation-duration: 3s;
        animation-iteration-count: 1;
        &.hidden {
            display: none;
        }
        @keyframes intro {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        @media all and (min-width:767px) {
            min-width: 441px;
            background-color: rgba(255, 255, 255, .8);
            transform: translate(0, 0);
            left: 8%;
        }
        @media all and (min-width:1200px) {
            min-width: 574px;
            left: 10%;
            font-size: rem(24px);
            line-height: 1.25;
            padding: rem(15px) rem(30px);
        }
    }
}