.footer {

    border-top: 1px solid #b9b8b9;

    @media all and (min-width:768px) {

    box-sizing: border-box;
    width: 100vw;
    border-top: 1px solid #b8b8b9;
    display: flex;
    }

    .container {

         display: flex;
         flex-direction: column;  
         
         @media all and (min-width:768px) {
         margin: auto;
         width: 100%;
         max-width: 678px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-content: space-between;
         flex-wrap: nowrap;
         }
        
         @media all and (min-width:1200px) {
         max-width: 1000px;
        }
    }

            .copyright__container{

                display: block;
                text-align: center; 
                font-size: 14px;
                line-height: 20px;
                color: #b8b8b9;
                font-family: "Open Sans", sans-serif;
                padding-bottom: 22px;
                padding-top: 30px;

                @media all and (min-width:768px) { 
                    
                height: 45px;
                width: 50%;
                background-color: #fff;
                transform: translateY(30px);
                display: flex;
                align-items: center;
                font-size: 15px;  
                max-width: 678px;
                padding-left: 5%;
                }

                @media all and (min-width:1200px){

                max-width: 1000px;
                padding-left: 0%;
            }
        }

                    .copyright {

                        color: #b8b8b9;
                        font-size: 14px;
                        line-height: 20px;   
                        } 

            .image__container{

                margin-left: 0%;
                padding-left: 0%;
                display: block;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 51px;
                width: 100vw;
                           
                @media all and (min-width:768px) { 
                    
                    display: flex;
                    align-items: flex-start;
                    margin-left: 0px;
                    padding-left: 3.5%;
                    flex-direction: column;
                    justify-content: flex-end;
                    transform: translateY(-75px);  
                    max-width: 678px;
                    
                         
                }

                @media all and (min-width:1200px) {
                                  
                    display: flex;
                    align-items: flex-start;
                    margin-left: -12.5px;
                    padding-left: 0%;
                    flex-direction: column;
                    justify-content: flex-end;
                    transform: translateY(-75px);
                    max-width: 1000px;
                    padding-left: 0.25%;
                        
                }   
            }

                    .image__link {

                        display: block;
                        text-align: center;
                        width: 100%;
                         }

                         .image {
                            width: 18%;
                            padding-top: 4px;
                        
                                @media all and (min-width:768px) {
                               
                                   width: 20%;
                                }
                            
                            
                                @media all and (min-width:1200px) {
                        
                                    width: 13%;
                                     }
                                    }           

             .menu__footer {

                display: block;
                text-align: center;
            
                @media all and (min-width:768px) {
                    height: 90px;
                    width: 50%;
                    align-self: flex-end;
                    transform: translatey(-15px);
                    }
                }

                    .list__container {
                        list-style: none;
                        padding: 0;
                        line-height: 1.4em ;
  
                        @media all and (min-width:768px) {
                            list-style: none;
                            padding: 0;
                            text-align: right;
                            line-height: 1.6em ;
                            }

                        }

                            .list__item { 
                                text-align: center;
                                color: $rockGrey;
                                opacity: 0.65;
                                line-height: 20px;
                                text-transform: uppercase; 
                                font-weight: 600;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 15px;
                                cursor: pointer;
                                text-decoration: none;
                                opacity: 75%;

                                @media all and (min-width:768px) {
                                    text-decoration: none;
                                    line-height: 30px;
                                    } 
                                }
                            }
                            