.footer {
    border-top: 1px solid #b8b8b9;
        @media all and (min-width:768px) {
        box-sizing: border-box;
        width: 100vw;
        // border-top: 1px solid #b8b8b9;
        display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    // background-color: red;
    @media all and (min-width:768px) {
        margin: auto;
        width: 100%;
        max-width: $centerColumnTablet; // faltaba ponerle la columna central
        // display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: nowrap;
    }
    @media all and (min-width:1200px) {
        max-width: $centerColumnDesktop; // faltaba ponerle la columna central
    }
}

.copyright__container{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.43;
    // color: $greyCloud;
    // font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
    padding-top: 40px;
    @media all and (min-width:768px) {
        // height: 45px;
        width: 35%;
        // background-color: #fff;
        transform: translateY(30px);
        display: flex;
        align-items: center;
        font-size: 15px;
        padding-bottom: 0;
        padding-top: 0;
    }
    @media all and (min-width:1200px) {
        font-size: 14px;        
    }
    .copyright {
        color: $greyCloud;
    } 
}

.image__container{
    text-align: center;
    @media all and (min-width:768px) {
        transform: translateY(-60px);
        display: flex;
        align-items: center;
    }
    .image {
        // width: 22vw;
        width: 115.9px;
        padding-top: 30px;
        padding-bottom: 45px;
        @media all and (min-width:768px) {
            padding-bottom: 0;
        }
    }
}

.menu__footer {
    display: block;
    text-align: center;
    @media all and (min-width:768px) {
        // height: 90px;
        // width: 50%;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        // transform: translateY(-15px);
        }
}

.list__container {
    list-style: none;
    padding: 0;
    line-height: 1.4em;
    @media all and (min-width:768px) {
        text-align: right;
        // list-style: none;
        // padding: 0;
        // line-height: 1.4em ;
    }
    .list__item { 
        text-align: center;
        color: $rockGrey;
        opacity: 0.75;
        line-height: 1.43;
        text-transform: uppercase; 
        font-weight: 600;
        // font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        @media all and (min-width:768px) {
            // text-decoration: none;
            // opacity: 75%;
            line-height: 2.14;
            }
        }
    }
}