/* HEADER */
.header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: $completeWidth;
    height: 105px;
    opacity:0.95;
    background-color: $greenButterfly;
    font-family: $secondaryFont;
    color:white;
    font-weight: 500;
    text-transform: uppercase;
        @media all and (min-width:767px)  {
        height: 60px;
        }   
}
.headerflex {
    @media all and (min-width:767px)  {
        max-width: $centerColumnTablet;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    @media all and (min-width:1200px){
        max-width: $centerColumnDesktop;
    }
}
.teambox {
    display: flex;
    height: 60px;    
    justify-content: center;
    align-items: center;
    .teamname {
        font-size: 16px;  
        display:flex;
        text-align: center;
        @media all and (min-width:768px){
            margin-left: 0;
        }   
    }
}
   
.menu {
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    height: 45px;
    background-color: #14d9c4;
    justify-content: space-around;
    align-items: center;
    @media all and (min-width:767px){
        background-color: $greenButterfly;
        margin: auto;
    }
}
.menulink {
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: color ease 0.7s;
    &:hover{
        color: rgb(71, 71, 71);
    }
    @media all and (min-width:767px){
        .menu &{
            margin-left: 20px;
        }
    }
    
}