// MOBILE

aside {
    background-color: rgba(184, 184, 185, .2);
    padding: 30px 0 15px;
}

.team {
    padding-top: 30px;
    @media all and (min-width:767px) {
            padding-top: 15px;
        }
}

.team-color {
    color:$greenButterfly;
}

.wrapper-section {
    width: 90%;
    margin: auto;
    @media all and (min-width:767px) {
            width: 90%;
            max-width: 678px;
            margin: auto;
        }
    @media all and (min-width:1200px) { 
            max-width: 601px;
        }
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 30px;
}
.subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 2.05;
    text-align: center;
    color:$greenButterfly; 
    font-weight: 500;   
}

.content-text {
         margin-bottom: 20px;
         text-align: center;
         color: $rockGrey;
         line-height: $lineHeightGeneral;
         &:last-child{
            margin-bottom: 30px;
        }
}

.italic{
    font-style: italic;
}

.strengths-weaknesses .content-text {
    margin-bottom: 30px;
    @media all and (min-width:767px) {
            display: flex;
            justify-content: space-between;
            max-width: $centerColumnTablet;
            margin: auto;
        }
    @media all and (min-width:1200px) { 
            max-width: $centerColumnDesktop;
            }
}

.triangle {
    height: 30px;
    width: 30px;
    margin: auto;
    transform: rotate(45deg);
    background-color:white;
    position: relative;
    top: 15px;
}

.strengths, .weaknesses {
    @media all and (min-width:767px) {
        max-width: 45%;
    }
}
