// Colors
$rockGrey: #54585a;
$greenButterfly: #099d8d;

$fontFamily: 'Open Sans', sans-serif;
$secondaryFont: 'Rubik', sans-serif;
$fontSize: 16px;
$fontColor: $rockGrey;
$centerColumnTablet: 678px;
$centerColumnDesktop: 1100px;
$lineHeightGeneral: 1.5;