*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* HEADER */
.teambox {
    display: flex;
    height: 60px;    
    background-color: #099D8D;
    justify-content: center;
    align-items: center;
    opacity:0.95;
}

.teamname {
    font-family: 'Rubik', sans-serif;
    font-weight: 500; 
    font-size: 16px;  
    color:white;
    display:flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;    
}
    
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1;
    height: 105px;
}   

.menu {
    list-style: none;
    text-transform: uppercase; 
    font-family: 'Rubik', sans-serif;
    color:white;
    font-size: 15px;
    display: flex;
    height: 45px;
    background-color: #14d9c4;
    font-weight: 500;
    justify-content: space-around;
    align-items: center;
    opacity:0.95;
}

.menulink {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

/* HEADER FOR TABLET*/
@media all and (min-width:767px)  {
    .header  {
        z-index: 1;
        height: 60px;
        background-color: #099D8D;
    }    
        
    .headerflex {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }    
    
    .menu {
        background-color: #099D8D;
    }
    
    .menulink {
        margin-right: 20px;
    }
}

/* HEADER FOR DESKTOP */
@media all and (min-width:1200px)  {
    .headerflex {
        justify-content: space-between;
    }
    .teambox {
        margin-left: 140px;
    }
    .menu {
        justify-content: space-around;
        margin-right: 140px;
    }
}


/* MAIN */
.team {
    padding-top: 30px;
}

.wrapper-section {
    width: 90%;
    margin: auto;
}

.claim-hero {
    width: 100%;
    height: 421px;
    background-image: url(../images/team-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.claim {
    min-width: 85%;
    background-color: white;
    font-size: 18px;
    color: black;
    line-height: 1.39;
    font-weight: 600;
    padding: 14px 15px 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 30px;
}

.team-color {
    color:#14d9c4;
}

.about-us p {
    margin-bottom: 20px;
}

.about-us p:last-child {
    margin-bottom: 30px;
}

.subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 2.05;
    text-align: center;
    color: #099d8d; 
    font-weight: 500;   
}

p {
    text-align: center;
    color: #54585a;
    line-height: 1.5;
}

aside {
    background-color: rgba(184, 184, 185, .2);
    padding: 30px 0 15px;
}

.strengths-weaknesses p {
    margin-bottom: 30px;
}

.triangle {
    height: 30px;
    width: 30px;
    margin: auto;
    transform: rotate(45deg);
    background-color:white;
    position: relative;
    top: 15px;
}

.adalabers-color {
    color: #099d8d;
}

.member-name {
    font-size: 20px;
    text-align: center;
    line-height: 2.25;
    padding-top: 15px;
}

.rrss {
    display: inline-block;
    color: #099d8d;
}

.space-point {
    padding: 0 5px 0;
}

.adalabers {
    width: 90%;
    margin: auto;
}

.rrss-block {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

.member-image {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: solid 5px lightgray;
    margin: auto;
}

.photo-member {
    width: 100%;
    display: block;
}

/* MAIN FOR TABLET */
@media all and (min-width:767px) {
    .team {
        padding-top: 15px;
    }
    .wrapper-section {
        width: 90%;
        max-width: 678px;
        margin: auto;
    }
    .claim {
        min-width: 441px;
        background-color: rgba(255, 255, 255, .8);
        transform: translate(0, 0);
        left: 8%;
    }
    .strengths-weaknesses {
        display: flex;
        justify-content: space-between;
        max-width: 678px;
        margin: auto;
    }
    .strengths, .weaknesses {
        max-width: 45%;
    }

    /* ADALABERS PART FOR TABLET */
    .member {
        display: flex;
    }
    .member-image {
        width: 205px;
        height: 205px;
    }
    .member-content {
        width: 60%;
    }
    .photo-member {
        max-height: 205px;
    }
    .member .member-content p {
        text-align: start;
    }
    .member .member-name {
        text-align: start;
    }
    .member .rrss-block {
        justify-content: start;
    }
    .member-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .member-reverse .member-content p {
        text-align: end;
    }
    .member-reverse .member-name {
        text-align: end;
    }
    .member-reverse .rrss-block {
        justify-content: flex-end;
    }
    .main-column {
        max-width: 678px;
        margin: auto;
    }
}


/* MAIN FOR DESKTOP */
@media all and (min-width:1200px) {
    .claim-hero {
        height: 550px;
    }
    .claim {
        min-width: 574px;
        left: 10%;
        font-size: 24px;
        line-height: 1.25;
        padding: 15px 30px;
    }
    .wrapper-section {
        max-width: 601px;
    }
    .strengths-weaknesses {
        max-width: 1100px;
    }
    .strengths, .weaknesses {
        max-width: 45%;
    }
}


/* FOOTER */
.footer {
    height: 250px;
    border-top: 1px solid #b8b8b9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.copyright {
    display:flex;
    font-size: 14px;
    color: #b8b8b9;
}

.menufooter {
    list-style: none;
    text-transform: uppercase; 
    text-align: center;
    color: #54585a;
    font-weight: 600;
}

.footerlink {
    color: #54585a;
    opacity: 0.65;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.logobox {
    width:116px;
}

.adalablogo {
    width: 100%;
}

/* FOOTER FOR TABLET*/
@media all and (min-width:767px)  {
    .footer {
        align-content: space-between;
        flex-wrap: wrap;
        height: 170px;
        flex-basis: 100%;
        margin-top: 24px;
        margin-bottom: 56px;        
    }
    
    .copyrightbox {
       width: 399px;
    }
    
    .copyright {
        order: 1;
        font-size: 15px;
        height: 20px;
        margin-top: 30px;
        margin-left: 45px;
        padding-top: 6px;
    }
    
    .menufooter {
        order: 3;
        width: 324px;
        height: 90px;
        margin-right: 45px;
        text-align: right;
        line-height: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;    
    }

    .footerlink {
        padding: 4px;
    }
    
    .logobox {
        order: 2;
        margin-top: 15px;
        padding-bottom: 4px;
        margin-right: 210px;
    }

    .adalablogo {
        justify-content: flex-start;
    }
}
